@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <h2>Projeto desenvolvido para simular um sistema de aluguéis de carro.</h2>
    <p>Aqui é possivel:</p>
    - Cadastrar carros;<br />
    - Editar o registro;<br />
    - Verificar carros disponíveis para aluguel, de acordo com a data desejada;<br />
    - Verificar histórico de aluguéis;<br />
    - Cancelar o agendamento, caso necessário.
