@model CRUDMVCCarsRental.Models.CreateCarInputModel

@{
    ViewData["Title"] = "Criar";
}

<center><h1>Cadastrar</h1></center>

<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modelo</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FabricationYear" class="control-label">Ano de Fabricação</label>
                <input asp-for="FabricationYear" class="form-control" />
                <span asp-validation-for="FabricationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label">Ano do Modelo</label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Engine" class="control-label">Potência do Motor</label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentValuePerDay" class="control-label">Valor do aluguel diário</label>
                <input asp-for="RentValuePerDay" class="form-control" type="number" step="0,01"/>
                <span asp-validation-for="RentValuePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center><input type="submit" value="Cadastrar" class="btn btn-outline-primary m-2" /></center>
            </div>
        </form>
        <center><a asp-action="Index" class="mt-5">Voltar</a></center>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}